@import "tailwindcss";

:root {
	--primary: #c4d7f2;
	--dark: #040f0f;
	--accent: #e9e3b4;
	--highlight: #f39b6d;
	--font-main: --font-test;
	--bg: #ffffff;
	--text: #171717;

	/* Light gray scale */
	--gray-50: #f8f9fa;
	--gray-100: #f1f3f5;
	--gray-200: #e9ecef;
	--gray-300: #dee2e6;
	--gray-400: #ced4da;
	--gray-500: #adb5bd;
	--gray-600: #868e96;
	--gray-700: #495057;
	--gray-800: #343a40;
	--gray-900: #212529;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #0a0a0a;
		--text: #ededed;
		--font-main: --font-test;

		--gray-50: #1a1a1a;
		--gray-100: #222;
		--gray-200: #333;
		--gray-300: #444;
		--gray-400: #555;
		--gray-500: #666;
		--gray-600: #777;
		--gray-700: #999;
		--gray-800: #aaa;
		--gray-900: #ccc;
	}
}

/* Tailwind theme hook */
@theme {
	--color-portfolio-blue: var(--primary);
	--color-portfolio-dark: var(--dark);
	--color-portfolio-accent: var(--accent);
	--color-portfolio-orange: var(--highlight);
	--color-background: var(--bg);
	--color-foreground: var(--text);
	--font-main: var(--test-font);
}
